@import "~@ng-select/ng-select/themes/default.theme.css";

.page-wrapper{
  padding-top: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

hr{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  color: #666666;
}

.form{
  .ng-select .ng-select-container{
    height:38px;
  }
  .ng-select-multiple .ng-select-container{
    min-height:38px;
    height:auto;
  }
  .ng-select .ng-select-container .ng-value-container .ng-input{
    padding-bottom:5px;
  }
  .ng-select .ng-select-container .ng-value-container .ng-placeholder{
    top:7px;
  }
}

